{
    "presets": ["babel-preset-env"],
    "plugins": [
        [
            "file-loader",
            {
                "name": "[name].[ext]",
                "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
                "publicPath": "/dist",
                "outputPath": "/dist",
                "context": ""
            }
        ],
        ["transform-react-jsx", {
            "pragma": "m"
        }]
    ]
}